<header class="row">
  <div class="col-auto">
    <nav class="identity navbar navbar-expand-lg px-3 shadow">
      <a class="navbar-brand" href="/">
        <img src="https://avatars.githubusercontent.com/u/88406384?v=4" class="navbar-toggler-icon border">
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a id="name" class="nav-link nav-name" href="#name">{{name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="social navbar navbar-expand-lg shadow px-3 d-flex justify-content-between di">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-github"></i>
    </div>
  </div>
  <div class="col">
    <section on-click="descriptionClicker(this)" class="card card-body bg-dark shadow">
      <h3 class="text-warning">Who am i ?</h3>
      <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </section>
  </div>
</header>
