footer {
  margin-top: 200px;
}

footer .navbar {
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px gray;
  height: 300px;
}

footer .nav-name {
  font-weight: bold;
  font-size: 1.8rem;
}

footer .navbar img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
