<main>
  <!--Projects-->
  <section>
    <h3 class="mb-3 text-center">Featured projects</h3>
    <div class="row">
      <ng-template *ngFor="let pr of projects">
        <div *ngIf="pr.featured" class="col-4 mb-3">
          <div (click)="alert(pr.name);" class="card shadow">
            <div class="card-body">
              <img width="100%"
                   [src]="pr.img">
              <h4 class="project-name">
                {{ pr.name }}
              </h4>
              <p>{{ pr.description }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <div class="date">
                {{ pr.date }}
              </div>
              <div [ngSwitch]="pr.state">
                <div *ngSwitchCase="ProjectSTATE.NOT_STARTED" class="project-state state-not-started">
                  not started
                </div>
                <div *ngSwitchCase="ProjectSTATE.ON_GOING" class="project-state state-ongoing">
                  ongoing...
                </div>
                <div *ngSwitchDefault class="project-state state-finished">
                  finished
                </div>
              </div>
              <a href="/" class="link">view</a>
            </div>
          </div>
        </div>
      </ng-template>
      <!---->
      <ng-template [ngIf]="gitData">
        <h3 class="my-3">Github projects <span class="small text-muted">({{ gitData.public_repos }})</span></h3>
      </ng-template>
      <div style="width:100%;overflow-x:scroll;">
        <div class="row">
          <div *ngFor="let pr of gitProjects$ | async" (click)="alert(pr.name)" class="col-4 mb-3">
              <div class="card shadow">
                <div class="card-body">
                  <img width="100%"
                       [src]="pr.img">
                  <h4 class="project-name">
                    {{ pr.name }}
                  </h4>
                  <p>{{ pr.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <div class="date">
                    {{ pr.created_at | date | uppercase }}
                  </div>
                  <a href="/" class="link">view</a>
                </div>
              </div>
            </div>
        </div>
      </div>
<!--      <ng-template [ngIf]="!gitData">Couldn't load github projects...</ng-template>-->
    </div>
  </section>
</main>
