main {
  margin: 50px;
  margin-top: 170px;
}

main section {
  margin-bottom: 30px;
}

main section .card img {
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

main section .date {
  color: gray;
  font-size: 0.8em;
}

main section .project-name {
  font-weight: bolder;
}

.project-state {
  text-transform: capitalize;
  font-size: 0.8em;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.state-finished {
  color: limegreen;
  background-color: #00ff0022;
}

.state-ongoing {
  color: red;
  background-color: #ff000022;
}

.state-not-started {
  color: #ffC107;
  background-color: #ffC10722;
}

